body{
    background-color: white;
}

#navbar_wrapper{
    background-color: aliceblue;
}

.container-lg{
    border: black solid 5px;
    border-radius: 10px;
}

.notice{
    border: red 5px dashed;
    border-radius: 7px;
    padding: 15px;
}