{% extends 'base.html' %}

{%block title%}
ByteBard | Login
{%endblock%}

{%block head%}
    <!-- reusing register.css because there's no point in repeating so much code -->
    <!-- Still need login.css because some small changes are needed-->
    <link rel="stylesheet" rel="text/css" href="/static/CSS/register.css"> 
    <link rel="stylesheet" rel="text/css" href="/static/CSS/login.css">
{% endblock %}

{% block content %}

    <form method="post" action="" class="wrapper login-wrapper">
        {% csrf_token %}

        <h1>Login to ByteBard</h1>
        <hr>

        
        <div class="form-group"> <!-- Grouping the fields togther 2 at a time-->

            {% if not_found %} <!-- Error message if required -->
                <div class="error-message">
                    <strong>
                        Incorrect username or password
                    </strong>
                </div>
            {% endif %}
        
            <div class="input-group"> <!-- Naming probably a bit off tbf -->
                {{form.username}}
                <label class="input-label">Username</label>
            </div>
    
            <div class="input-group">
                {{form.password}}
                <label class="input-label">Password</label>
            </div>

        <button class="submit-btn" type="submit">Login</button>
        
    </form>

{% endblock %}