{% extends 'base.html' %}

{%block title%}
ByteBard | Login
{%endblock%}

{%block head%}
    <link rel="stylesheet" rel="text/css" href="/static/CSS/login.css">
{% endblock %}

{% block content %}

    <form method="post" action="" class="wrapper">
        {% csrf_token %}

        <h1>Login to ByteBard</h1>
        <hr>
        <div class="form-group">
        
            <div class="input-group">
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </div>                  
                    {% endfor %}
                {% endif %}
                {{form.username}}
                <label class="input-label">Username</label>
            </div>
    
            <div class="input-group">
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </div>                  
                    {% endfor %}
                {% endif %}
                {{form.password}}
                <label class="input-label">Password</label>
            </div>

        <button class="submit-btn" type="submit">Login to ByteBard</button>

    </form>

{% endblock %}