{% extends 'base.html'%}

{%block title%}
ByteBard | Register
{%endblock%}

{%block head%}
    <link rel="stylesheet" rel="text/css" href="/static/CSS/register.css">
{% endblock %}


{%block content_title%} Register for ByteBard {%endblock%}

{% block content %}
<form method="POST" action="" class="wrapper">
    {% csrf_token %}

    <div class="fieldwrapper">
        {{form.username}}
    </div>
    
    <div class="fieldwrapper">
        {{form.first_name}}
    </div>

    <div class="fieldwrapper">
        {{form.last_name}}
    </div>

    <div class="fieldwrapper">
        {{form.email}}
    </div>

    <div class="fieldwrapper">
        {{form.password1}}
    </div>

    <div class="fieldwrapper">
        {{form.password2}}
    </div>
    <br>
    <input type="submit" name="create-user">
</form>

{% endblock %}