{% extends 'base.html'%}

{%block title%}
ByteBard | Register
{%endblock%}

{%block head%}
    <link rel="stylesheet" rel="text/css" href="/static/CSS/register.css">
{% endblock %}


{%block content_title%} Register for ByteBard {%endblock%}

{% block content %}
<form method="POST" action="" class="wrapper">
    {% csrf_token %}

    <h1>Create your ByteBard account</h1>
    <hr>


    {{form.first_name}}

    {{form.last_name}}

    <br>

    {{form.username}}

    {{form.email}}

    <br>

    {{form.password1}}

    {{form.password2}}

    <input type="submit" name="create-user" class="submit-btn">
</form>

{% endblock %}