.form-input{
    border-style: groove;
    border-color: #cccccc;
    border-radius: 4px;
    height: 40px;
    width: 60%;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: large;
}

.form-input:hover{
    background-color: aliceblue;
    transition: 1s;
}

.wrapper{
    margin-left: 25%;
    border: 5px black solid;
    width: 50%;
    display: grid;
    row-gap: 25px;
    grid-template-columns: auto;
}