.form-input{
    border-style: groove;
    border-color: #cccccc;
    border-radius: 4px;
    height: 40px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;;
}

.form-input:hover{
    background-color: rgb(240, 248, 255);
    transition: 1s;
}

.wrapper{
    display: grid;
    row-gap: 25px; /* Vertical gap between each item */
    grid-template-columns: auto; /* One item per colum */
    background-color: rgb(236, 246, 255); /* Slightly different colour, good looking but able to tell it's different */

    /* Spacing top + bottom */
    padding-top: 30px;
    padding-bottom: 30px;

    /* Nice thin looking border */
    border-color: #cccccc;
    border-radius: 4px;
    border-width: 2px;

    /* Centering the items */
    justify-content: center; 
    align-items: center;
}