{% extends 'base.html'%}

{% block content %}

    <h1><u>sn again (from code editor)</u></h1>
    <p style="
    background-color: aliceblue;
    border: darkblue 5px solid; 
    margin-left: 50%; 
    text-align: center; 
    padding: 10px; 
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 20%;
    "
    >
    Hi, i'm Tang0<br><br>
    Thanks so much for the <a href="https://www.w3schools.com/git/default.asp?remote=github" target="_blank" style="color: #0000FF;"> tutorial</a>, it's really helped me in my developer journey 😁👨‍💻
    <br>
    <br>
    Now i'm gonna use this to build my own <a href="https://github.com/Tango0o0o/ByteBard" target="_blank" style="color: #0000FF;">website</a>
  </p>

{% endblock %}